<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlbumSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A81A4FF1F28332400243299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A81A5131F28332400243299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A81A51E1F28332400243299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
